<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/css/artist_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="/img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="/user/<%= currentUser._id %>">Profile</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/items">Items</a></div>
                <div class="col-md-1.5"><a href="/about">About</a></div>
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group"><input required name="search" id="searchBar" type="text" placeholder="Search items..."></input></div>
                        <p><input type="submit" id="searchButton" class="btn btn-default" value="Search"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container text-center">
            <h1>About K-Penguin</h1>
            <hr>
            <h2>The Developers</h2>
            <p>K-Penguin is brought to you by:</p>
            <p>Anjelo Antioquia</p>
            <p>Gabriel Minamedez</p>
            <p>Julian Sunpayco</p>
            <p>This is a final machine project for our course in CCAPDEV.</p>
            <h2>Components</h2>
            <p>This project is developed in HTML, CSS, and JavaScript.</p>
            <p>Node.js is used for the server-side.</p>
            <p>MongoDB is used for the database.</p>
            <p>The following NPM packages were used for development and server-side functionalities:</p>
            <p>bcrypt</p>
            <p>body-parser</p>
            <p>connect-redis</p>
            <p>ejs</p>
            <p>express</p>
            <p>express-session</p>
            <p>mongodb</p>
            <p>mongoose</p>
            <p>nodemon</p>
            <p>redis</p>
            <p>url</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>