<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="css/cart_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="/profile">Home</a></div>
                <div class="col-md-1.5"><a id="active" href="/cart">Cart</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/item_types">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = '/results';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h1>Cart</h1>
            <hr>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/photocard_jennie.jpg"></img></div>
                <div class="col-md-7">
                    <h3 id="itemName"><a href="/item">Jennie Kim jacket</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@Asuna-</a></p>
                    <p id="itemPrice">Php 4500.00</p>
                    <p id="itemStatus0">AVAILABLE</p>
                    <p id="itemDescription">Jennie Kim's merchandise Jacket EXCLUSIVE</p>
                </div>
                <div class="col-md-2"><button type="submit" class="btn btn-danger">Remove from Cart</button></div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/iphone11_case_jennie.jpg"></img></div>
                <div class="col-md-7">
                    <h3 id="itemName"><a href="/item">Iphone 11 case Jennie Kim (96)</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@Asuna-</a></p>
                    <p id="itemPrice">Php 1100.00</p>
                    <p id="itemStatus0">AVAILABLE</p>
                    <p id="itemDescription">Iphone 11 case [Jennie Kim] BlackPink Jersey number 96</p>
                </div>
                <div class="col-md-2"><button type="submit" class="btn btn-danger">Remove from Cart</button></div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/Jennie_Kim_jacket.jpg"></img></div>
                <div class="col-md-7">
                    <h3 id="itemName"><a href="/item">Jennie Kim Photo card</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@Asuna-</a></p>
                    <p id="itemPrice">Php 300.00</p>
                    <p id="itemStatus0">AVAILABLE</p>
                    <p id="itemDescription">Jennie Kim Photo card Size 3.375″ x 2.125″</p>
                </div>
                <div class="col-md-2"><button type="submit" class="btn btn-danger">Remove from Cart</button></div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/Jennie_Kim_poster.jpg"></img></div>
                <div class="col-md-7">
                    <h3 id="itemName"><a href="/item">BLACK PINK Poster (Jennie Kim)</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@Asuna-</a></p>
                    <p id="itemPrice">Php 500.00</p>
                    <p id="itemStatus2">RESERVED</p>
                    <p id="itemDescription">Black Pink Poster ft. Jennie Kim Size 24" x 36" EXCLUSIVE</p>
                </div>
                <div class="col-md-2"><button type="submit" class="btn btn-danger">Remove from Cart</button></div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/Jennie_Kim_Lipstick.jpg"></img></div>
                <div class="col-md-7">
                    <h3 id="itemName"><a href="/item">Hera Lipstick Jennie Kim</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@Asuna-</a></p>
                    <p id="itemPrice">Php 1550.00</p>
                    <p id="itemStatus0">AVAILABLE</p>
                    <p id="itemDescription">Hera Lipstick Crimson Red color ft. Jennie Kim</p>
                </div>
                <div class="col-md-2"><button type="submit" class="btn btn-danger">Remove from Cart</button></div>
            </div>
            <hr>
            <h2>Checkout</h2>
                <p class="help-block">Labels with (*) are required fields.</p>
                    <form>
                        <div class="form-group"><label>Recipient Name*</label><input id="inputName" type="text" class="form-control" placeholder="Add Recipient Name"></div>
                        <div class="form-group"><label>Delivery Address*</label><input id="inputAddress" type="text" class="form-control" placeholder="Add Delivery Address"></div>
                        <div class="form-group"><label>Notes</label><textarea id="inputNotes" class="form-control" placeholder="Add Notes"></textarea></div>
                        <div class="checkbox"><label><input id="inputCheckbox" type="checkbox"> I agree to <a href="#">K-Penguin's Terms of Privacy and Service</a>.</label></div>
                    </form>
                <p><input type ="button" onclick="window.location.href = '/transactions';" class="btn btn-success" value="Confirm"></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>