<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="css/entry_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <div id="image"><img src="img/brand_icon.png"></img></div>
        <h1 class="text-center">Welcome to K-Penguin!</h1>
        
        <div class="row">
            <div class="col-md-6">
                <h2>Register</h2>
                <hr>
                <form>
                    <div class="form-group"><label>E-mail Address</label><input id="registerEmail" type="email" class="form-control" placeholder="Add E-mail Address"></div>
                    <div class="form-group"><label>Name</label><input id="registerName" type="text" class="form-control" placeholder="Add Name"></div>
                    <div class="form-group"><label>Add Profile Picture</label><input id="registerImage" type="file"><p class="help-block">Only photos in .png and .jpg format are allowed.</p></div>
                    <div class="form-group"><label>Username</label><input id="registerUsername" type="text" class="form-control" placeholder="Add Username"></div>
                    <div class="form-group"><label>Password</label><input id="registerPassword1" type="password" class="form-control" placeholder="Add Password"></div>
                    <div class="form-group"><label>Re-type Password</label><input id="registerPassword2" type="password" class="form-control" placeholder="Re-type Password"></div>
                    <div class="form-group"><label>Description</label><textarea id="registerDescription" class="form-control" placeholder="Add Description"></textarea></div>
                    <div class="checkbox"><label><input id="registerCheckbox" type="checkbox"> I agree to <a href="#">K-Penguin's Terms of Privacy and Service</a>.</label></div>
                    <hr>
                    <p><input type ="button" onclick="window.location.href = '/profile';" class="btn btn-default" value="Join K-Penguin"></p>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Login</h2>
                <hr>
                <form>
                    <div class="form-group"><label>Username</label><input id="loginUsername" type="text" class="form-control" placeholder="Input Username"></div>
                    <div class="form-group"><label>Password</label><input id="loginPassword" type="password" class="form-control" placeholder="Input Password"></div>
                    <a href="#">Forgot password?</a>
                    <div class="checkbox"><label><input id="loginCheckbox" type="checkbox">Remember me</label></div>
                    <hr>
                    <p><input type ="button" onclick="window.location.href = '/profile';" class="btn btn-default" value="Login"></p>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>