<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="css/item_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="/profile">Home</a></div>
                <div class="col-md-1.5"><a href="/cart">Cart</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/item_types">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = '/results';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 id="itemName">Jennie Kim Jacket</h1>
                    <h4 id="postedBy">| posted by <a id="itemUser" href="/profile">@Asuna-</a></h4>
                    <h3 id="itemPrice">Php 4500.00</h3>
                    <h3 id="itemStatus0">AVAILABLE</h3>
                    <hr>
                    <h2>Description</h2>
                        <p id="itemDescription">Jennie Kim's merchandise Jacket EXCLUSIVE</p>
                        <p><strong>Artist: </strong><a id="itemArtist" href="/artist">Jennie Kim</a></p>
                        <p><strong>Item Type: </strong><a id="itemType" href="/item_type">Clothing</a></p>
                    <hr>
                    <input type ="button" onclick="window.location.href = '/cart';" class="btn btn-success" value="Add to Cart">
                </div>
                <div class="col-md-5">
                    <img id="itemImage" src="img/photocard_jennie.jpg"></img>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>