<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="css/itemType_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="/profile">Home</a></div>
                <div class="col-md-1.5"><a href="/cart">Cart</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/item_types">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = '/results';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h1 id="itemType" class="text-center">Posters</h1>
            <hr>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/Jennie_Kim_poster.jpg"></img></div>
                <div class="col-md-9">
                    <h3 id="itemName"><a href="/item">BLACK PINK Poster (Jennie Kim)</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@Asuna-</a></p>
                    <p id="itemPrice">Php 500.00</p>
                    <p id="itemStatus2">RESERVED</p>
                    <p id="itemDescription">Black Pink Poster ft. Jennie Kim Size 24" x 36" EXCLUSIVE</p>
                </div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/twice_album.jpeg"></img></div>
                <div class="col-md-9">
                    <h3 id="itemName"><a href="/item">Feel Special Poster (Twice)</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@YaBoi_Gabriel</a></p>
                    <p id="itemPrice">Php 450.00</p>
                    <p id="itemStatus0">AVAILABLE</p>
                    <p id="itemDescription">Twice Feel Special Album cover Poster Size 24" x 36" EXCLUSIVE</p>
                </div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/Dahyun_Poster.jpg"></img></div>
                <div class="col-md-9">
                    <h3 id="itemName"><a href="/item">TWICE Poster (Dahyun)</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@AkoSiBhozGab69</a></p>
                    <p id="itemPrice">Php 500.00</p>
                    <p id="itemStatus0">AVAILABLE</p>
                    <p id="itemDescription">Twice Feel Special Poster ft. Dahyun Size 24" x 36" LIMITED EDITION</p>
                </div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/Mina_penguin_poster.jpg"></img></div>
                <div class="col-md-9">
                    <h3 id="itemName"><a href="/item">TWICE Poster (Mina)</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@jSunpaycoco</a></p>
                    <p id="itemPrice">Php 999.00</p>
                    <p id="itemStatus0">AVAILABLE</p>
                    <p id="itemDescription">Twice Poster ft. Mina PENGUIN! Size 24" x 36" LIMITED EDITION</p>
                </div>
            </div>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="img/IU_poster.jpg"></img></div>
                <div class="col-md-9">
                    <h3 id="itemName"><a href="/item">Poster (IU)</a></h3>
                    <p id="postedBy">| posted by <a id="itemUser" href="/profile">@IuFanBoy</a></p>
                    <p id="itemPrice">Php 799.00</p>
                    <p id="itemStatus1">UNAVAILABLE</p>
                    <p id="itemDescription">Poster ft. Iu Size 24" x 36"</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>