<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="./styles/itemAdd_style.css" rel="stylesheet" type="text/css">

    <title>K-Penguin | Add Item</title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="../Media/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a id="active" href="user.html">Home</a></div>
                <div class="col-md-1.5"><a href="cart.html">Cart</a></div>
                <div class="col-md-1.5"><a href="transactions.html">Transactions</a></div>
                <div class="col-md-1.5"><a href="listArtists.html">Artists</a></div>
                <div class="col-md-1.5"><a href="listItems.html">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = 'results.html';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h1>Add Item</h1>
            <p class="help-block">Labels with (*) are required fields.</p>
            <hr>
        <form>
            <div class="form-group"><label>Item Name*</label><input id="itemName" type="text" class="form-control" placeholder="Add Product Name"></div>
            <div class="form-group"><label>Price (in Philippine Peso)*</label><input id="itemPrice" type="text" class="form-control" placeholder="Add Price"></div>
            <div class="form-group"><label>Artist*</label><input id="itemArtist" type="text" class="form-control" placeholder="Add Artist"></div> 
            <div class="form-group"><label>Item Type*</label>
                <select id="itemType" class="form-control">
                <option value="albums">Albums</option>
                <option value="apparel">Apparel</option>
                <option value="books">Books</option>
                <option value="lightsticks">Lightsticks</option>
                <option value="photocards">Photocards</option>
                <option value="posters">Posters</option>
                <option value="others">Others</option>
                </select>
            </div>
            <div class="form-group"><label>Description*</label><textarea id="itemDescription" class="form-control" placeholder="Add Description"></textarea></div>
            <div class="form-group"><label>Upload Item Image*</label><input id="itemImage" type="file"><p class="help-block">Only photos in .png and .jpg format are allowed.</p></div>
            <hr> 
            <p><input type ="button" onclick="window.location.href = 'user.html';" class="btn btn-default" value="Add Item"></p>
        </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>