<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/css/entry_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <div id="image"><img src="/img/brand_icon.png"></img></div>
        <h1 class="text-center">Welcome to K-Penguin!</h1>

        <h2>Register</h2>
        <p>Already have an account? <a href="/login">Login here.</a></p>
        <hr>
        <p id="error"><%= error %></p>
        <form method="post">
            <div class="form-group"><label>E-mail Address</label><input required name="registerEmail" type="email" class="form-control" placeholder="Add E-mail Address"></div>
            <div class="form-group"><label>Name</label><input required name="registerName" type="text" class="form-control" placeholder="Add Name"></div>
            <div class="form-group"><label>Add Profile Picture</label><input name="registerImage" type="file" accept="image/jpg,image/png,image/jpeg"><p class="help-block">Only photos in .png and .jpg format are allowed.</p></div>
            <div class="form-group"><label>Username</label><input required name="registerUsername" type="text" class="form-control" placeholder="Add Username"></div>
            <div class="form-group"><label>Password</label><input required name="registerPassword1" type="password" class="form-control" placeholder="Add Password"></div>
            <div class="form-group"><label>Re-type Password</label><input required name="registerPassword2" type="password" class="form-control" placeholder="Re-type Password"></div>
            <div class="form-group"><label>Description</label><textarea required name="registerDescription" class="form-control" placeholder="Add Description"></textarea></div>
            <hr>
            <p><input type ="submit" class="btn btn-default" value="Join K-Penguin" id="registerButton"></p>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>