<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="./styles/transactions_style.css" rel="stylesheet" type="text/css">

    <title>K-Penguin | Edit User</title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="../Media/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="user.html">Home</a></div>
                <div class="col-md-1.5"><a href="cart.html">Cart</a></div>
                <div class="col-md-1.5"><a id="active" href="transactions.html">Transactions</a></div>
                <div class="col-md-1.5"><a href="listArtists.html">Artists</a></div>
                <div class="col-md-1.5"><a href="listItems.html">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = 'results.html';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content" class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Your Orders</h1>
                <hr>
                <div id="order">
                    <h4><strong>Order #</strong><div id="orderNumber" href="#">12345</div></h4>
                    <h4 id="itemName"><a href="item.html">TWICE Feel Special [A ver.]</a></h4>
                    <p id="orderedBy">| ordered by <a id="orderUser" href="user.html">@pkmn_trainer</a></p>
                    <p id="orderAddress">1198 Benavidez St., Sta. Cruz, Manila</p>
                    <p id="orderNotes">pls deliver w/in 3-5 days</p>
                </div>
                <div id="order">
                    <h4><strong>Order #</strong><div id="orderNumber" href="#">11823</div></h4>
                    <h4 id="itemName"><a href="item.html">Jennie Kim Jacket</a></h4>
                    <p id="orderedBy">| ordered by <a id="orderUser" href="user.html">@solarsidooo95</a></p>
                    <p id="orderAddress">245 Taft Avenue, Malate, Manila</p>
                    <p id="orderNotes">deliver asap tnx</p>
                </div>
                <div id="order">
                    <h4><strong>Order #</strong><div id="orderNumber" href="#">235</div></h4>
                    <h4 id="itemName"><a href="item.html">EXO The War Album</a></h4>
                    <p id="orderedBy">| ordered by <a id="orderUser" href="user.html">@iglesianiChrisTiu17</a></p>
                    <p id="orderAddress">420 Brgy. Wally, Muntinlupa</p>
                    <p id="orderNotes">pakidiscrete packaging po</p>
                </div>
            </div>

            <div class="col-md-6">
                <h1>Your Purchases</h1>
                <hr>
                <div id="purchase">
                    <h4><strong>Order #</strong><div id="orderNumber" href="#">42</div></h4>
                    <h4 id="itemName"><a href="item.html">BTS Map of the Soul: Persona</a></h4>
                    <p id="postedBy">| posted by <a id="itemUser" href="user.html">@bangtanerzz</a></p>
                    <p id="itemPrice">Php 2000.00</p>
                    <p id="purchaseAddress">1611 One Archer's Place, Malate, Manila</p>
                    <p id="purchaseNotes">bring change for 1000</p>
                </div>
                <div id="purchase">
                    <h4><strong>Order #</strong><div id="orderNumber" href="#">369</div></h4>
                    <h4 id="itemName"><a href="item.html">Tzuyu Page One PC</a></h4>
                    <p id="postedBy">| posted by <a id="itemUser" href="user.html">@tzuyu4evs</a></p>
                    <p id="itemPrice">Php 245.00</p>
                    <p id="purchaseAddress">1611 One Archer's Place, Malate, Manila</p>
                    <p id="purchaseNotes">bring change for 1000</p>
                </div>
                <div id="purchase">
                    <h4><strong>Order #</strong><div id="orderNumber" href="#">21</div></h4>
                    <h4 id="itemName"><a href="item.html">exoploration tour shirt mnl</a></h4>
                    <p id="postedBy">| posted by <a id="itemUser" href="user.html">@exolsforchanyeol</a></p>
                    <p id="itemPrice">Php 1500.00</p>
                    <p id="purchaseAddress">1611 One Archer's Place, Malate, Manila</p>
                    <p id="purchaseNotes">i will leave money with guard, i will be out of town</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>